.phone_frame {
    width: 402px;
    height: 675px;
    border-radius: 11%;
    display: inline-block;
    background-color: #050505;
}

.phone_microphone {
    width: 93px;
    height: 10px;
    border-radius: 22%;
    display: inline-block;
    margin-left: 149px;
    margin-top: 17px;
    background-color: rgb(255, 255, 255);
}

.phone_botton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 171px;
    margin-top: 16px;
    background-color: rgb(255, 255, 255);
}

.wallpaper {
    /* max-width: 248.4px; */
    background-size: 364px;
    width: 350px;
    height: 546px;
    border-radius: 0%;
    display: inline-block;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url(../img/wallpaper.jpg);
}

.app_row1 {
    display: inline-block;
    /* max-width: 45px; */
    background-size: 60px;
    width: 60px;
    height: 60px;
    border-radius: 24%;
    margin-top: 30px;
    /* margin-bottom: 50px; */
    margin-left: 19px;
}
.app_row2 {
    display: inline-block;
    /* max-width: 45px; */
    background-size: 60px;
    width: 60px;
    height: 60px;
    border-radius: 24%;
    margin-top: 8px;
    /* margin-bottom: 50px; */
    margin-left: 19px;
}
.app_row3 {
    display: inline-block;
    /* max-width: 45px; */
    background-size: 62px;
    width: 62px;
    height: 62px;
    border-radius: 24%;
    margin-top: 13px;
    /* margin-bottom: 50px; */
    margin-left: 16px;
}
.bottom_block {
    background-image: url(../img/bottom_block.jpg);
    background-size: 340px;
    width: 340px;
    height: 89px;
    border-radius: 9%;
    margin-top: 0px;
    margin-left: 4px;
}
.facebook
{
    background-image: url(../img/facebook.png);
}

.line
{
    background-image: url(../img/line.png);
}

.ig
{
    background-image: url(../img/ig.jpg);
}

.messenger
{
    background-image: url(../img/messenger.png);
}

.dcard
{
    background-image: url(../img/dcard.png);
}

.youtube
{
    background-image: url(../img/youtube.png);
}

.netflix
{
    background-image: url(../img/netflix.png);
}

.googlemap
{
    background-image: url(../img/googlemap.png);
}

.phone
{
    background-image: url(../img/phone.png);
}

.bus
{
    background-image: url(../img/bus.png);
}

.spotify
{
    background-image: url(../img/spotify.jpg);
}

.safari
{
    background-image: url(../img/safari.png);
}

