.phone_frame {
    /* position: absolute; */
    width: 402px;
    height: 675px;
    border-radius: 11%;
    display: inline-block;
    background-color: #050505;
}

.phone_microphone {
    left: 2px;
    top: 77px;
    position: absolute;
    width: 93px;
    height: 10px;
    border-radius: 22%;
    display: inline-block;
    margin-left: 149px;
    margin-top: 17px;
    background-color: rgb(255, 255, 255);
}

.phone_botton {
    top: 671px;
    left: 9px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 171px;
    margin-top: 16px;
    background-color: rgb(255, 255, 255);
}


.wallpaper {
    position: absolute;
    left: 9px;
    top: 115px;
    /* max-width: 248.4px; */
    background-size: 364px;
    width: 350px;
    height: 546px;
    border-radius: 0%;
    display: inline-block;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url(../img/wallpaper.jpg);
}

.app_row1 {
    /* left: 37px; */
    /* top: 161px; */
    /* position: absolute; */
    display: inline-block;
    /* max-width: 45px; */
    background-size: 60px;
    width: 60px;
    height: 60px;
    border-radius: 24%;
    margin-top: 30px;
    /* margin-bottom: 50px; */
    margin-left: 19px;
}
.app_row2 {
    position: absolute;
    display: inline-block;
    /* max-width: 45px; */
    background-size: 60px;
    width: 60px;
    height: 60px;
    border-radius: 24%;
    margin-top: 8px;
    /* margin-bottom: 50px; */
    margin-left: 19px;
}
.app_row3 {
    position: absolute;
    display: inline-block;
    /* max-width: 45px; */
    background-size: 68px;
    width: 68px;
    height: 68px;
    border-radius: 24%;
    margin-top: 13px;
    /* margin-bottom: 50px; */
    margin-left: 16px;
}
.bottom_block {
    background-image: url(../img/bottom_block.jpg);
    background-size: 340px;
    width: 340px;
    height: 89px;
    border-radius: 9%;
    margin-top: 0px;
    margin-left: 4px;
}
.facebook {
    left: 0px;
    top: 0px;
    position: absolute;
    background-image: url(../img/facebook.png);
}

.line {
    left: 83px;
    top: 0px;
    position: absolute;
    background-image: url(../img/line.png);
}

.ig {
    left: 166px;
    top: 0;
    position: absolute;
    background-image: url(../img/ig.jpg);
}

.messenger {
    left: 252px;
    top: 0px;
    position: absolute;
    background-image: url(../img/messenger.png);
}

.dcard {
    background-image: url(../img/dcard.png);
    left: 0px;
    top: 107px;
    position: absolute;
}

.app_row2 {
    position: absolute;
    display: inline-block;
    /* max-width: 45px; */
    background-size: 60px;
    width: 60px;
    height: 60px;
    border-radius: 24%;
    margin-top: 8px;
    /* margin-bottom: 50px; */
    margin-left: 19px;
}

.netflix {
    left: 166px;
    top: 107px;
    position: absolute;
    background-image: url(../img/netflix.png);
}

.googlemap {
    left: 252px;
    top: 107px;
    position: absolute;
    background-image: url(../img/googlemap.png);
}

.phone {
    left: 4px;
    top: 441px;
    position: absolute;
    background-image: url(../img/phone.png);
}

.bus {
    background-size: 60px;
    width: 60px;
    height: 60px;
    left: 86px;
    top: 445px;
    position: absolute;
    background-image: url(../img/bus.png);
}

.spotify {
    left: 165px;
    top: 445px;
    background-size: 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url(../img/spotify.jpg);
}

.safari {
    left: 241px;
    top: 441px;
    position: absolute;
    background-image: url(../img/safari.png);
}

